In [1]:
import pandas as pd

## Import Data

In [3]:
df = pd.read_csv("ramen-ratings.csv")

## Head of the Data

In [4]:
df.head(10)

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
2,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
3,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
4,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
5,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
6,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
7,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
8,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
9,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN

## Shape of the Data

In [5]:
df.shape

(2585, 7)

## Run info Command

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2585 entries, 0 to 2584
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review #  2585 non-null   int64
 1   Brand     2585 non-null   object
 2   Variety   2585 non-null   object
 3   Style     2583 non-null   object
 4   Country   2585 non-null   object
 5   Stars     2585 non-null   object
 6   Top Ten   41 non-null     object
dtypes: int64(1), object(6)
memory usage: 141.5+ KB

## Fix Types

In [7]:
df.describe()

          Review #
count  2585.000000
mean   1292.994197
std     746.359522
min       1.000000
25%     647.000000
50%    1293.000000
75%    1939.000000
max    2580.000000

In [11]:
df[['Stars']] = df[['Stars']].astype(float)

In [9]:
df['Stars'].value_counts

<bound method IndexOpsMixin.value_counts of 0       3.75
1       3.75
2       3.75
3       3.75
4       3.75
        ...
2580     3.5
2581       1
2582       2
2583       2
2584     0.5
Name: Stars, Length: 2585, dtype: object>

In [10]:
df.Stars.replace(['Unrated', 0], inplace =True )

## Summarise Numeric Columns

In [12]:
df.describe()

          Review #        Stars
count  2585.000000  2585.000000
mean   1292.994197     3.655068
std     746.359522     1.013912
min       1.000000     0.000000
25%     647.000000     3.250000
50%    1293.000000     3.750000
75%    1939.000000     4.250000
max    2580.000000     5.000000

## Summarise Categorical Columns

In [14]:
df.Brand.value_counts()

Nissin                             381
Nongshim                            98
Maruchan                            76
Mama                                71
Paldo                               66
                                  ...
Guava Story                          1
Higashi                              1
Cap Atoom Bulan                      1
Global Inspiration                   1
Fu Chang Chinese Noodle Company      1
Name: Brand, Length: 355, dtype: int64

In [15]:
df['Style'].value_counts

<bound method IndexOpsMixin.value_counts of 0        Cup
1        Cup
2        Cup
3        Cup
4        Cup
        ...
2580    Bowl
2581    Pack
2582    Pack
2583    Pack
2584    Pack
Name: Style, Length: 2585, dtype: object>

In [17]:
df['Country'].value_counts

<bound method IndexOpsMixin.value_counts of 0          Japan
1          Japan
2          Japan
3          Japan
4          Japan
          ...
2580     Vietnam
2581    Thailand
2582    Thailand
2583    Thailand
2584         USA
Name: Country, Length: 2585, dtype: object>

## Drop and Rename Columns

In [18]:
df.columns

Index(['Review #', 'Brand', 'Variety', 'Style', 'Country', 'Stars', 'Top Ten'], dtype='object')

In [22]:
df = df.drop(['Review #'], axis = 1)
#you can only run this code once obviously

KeyError: "['Review #'] not found in axis"

In [23]:
df.columns = ['Brand','Variety', 'Style', 'Country', 'Stars','TopTen']

In [24]:
df.columns

Index(['Brand', 'Variety', 'Style', 'Country', 'Stars', 'TopTen'], dtype='object')

## Deal with Nulls

In [25]:
df.isnull().sum()

Brand         0
Variety       0
Style         2
Country       0
Stars         0
TopTen     2544
dtype: int64

In [27]:
df.TopTen.value_counts()

\r\n        4
2012 #6     1
2014 #5     1
2013 #10    1
2013 #6     1
2014 #9     1
2012 #1     1
2012 #3     1
2015 #7     1
2014 #7     1
2015 #9     1
2016 #1     1
2016 #9     1
2014 #1     1
2013 #4     1
2015 #10    1
2012 #2     1
2014 #4     1
2013 #9     1
2016 #10    1
2012 #10    1
2012 #4     1
2015 #4     1
2016 #7     1
2014 #6     1
2013 #2     1
2012 #9     1
2015 #8     1
2015 #6     1
2012 #5     1
2012 #7     1
2013 #1     1
2016 #5     1
2015 #1     1
2014 #8     1
2013 #3     1
2014 #10    1
2016 #8     1
Name: TopTen, dtype: int64

# check to see what is null

In [28]:
df[df.Style.isnull()]

       Brand            Variety Style Country  Stars TopTen
2157  Kamfen     E Menm Chicken   NaN   China   3.75    NaN
2447    Unif  100 Furong Shrimp   NaN  Taiwan   3.00    NaN

In [29]:
df[['TopTen']] = df[['TopTen']].fillna(0)

In [30]:
df.isnull().sum()

Brand      0
Variety    0
Style      2
Country    0
Stars      0
TopTen     0
dtype: int64

# Group and Order

In [33]:
df.groupby('Brand')['Stars'].max().sort_values(ascending=False).head(50)

Brand
Kamfen               5.0
MAMA                 5.0
Love Cook            5.0
Prima                5.0
Prima Taste          5.0
Pulmuone             5.0
Quickchow            5.0
Little Cook          5.0
Emart                5.0
Eat & Go             5.0
E-Zee                5.0
Dream Kitchen        5.0
Sakurai Foods        5.0
Salam Mie            5.0
Ibumie               5.0
Samyang Foods        5.0
Sapporo Ichiban      5.0
Sau Tao              5.0
Deshome              5.0
Sempio               5.0
Seven & I            5.0
Daikoku              5.0
Sichuan Baijia       5.0
Indomie              5.0
Daifuku              5.0
Daddy                5.0
Song Hak             5.0
Sun Noodle           5.0
ChoripDong           5.0
SuperMi              5.0
TTL                  5.0
Lucky Me!            5.0
Maggi                5.0
Takamori Kosan       5.0
Plats Du Chef        5.0
Mom's Dry Noodle     5.0
Mi Sedaap            5.0
Mr. Lee's Noodles    5.0
Menraku              5.0
MyKuali              5.0
MyOri                5.0
Myojo                5.0
Higashi              5.0
Master Kong          5.0
Nanyang Chef         5.0
New Touch            5.0
Marutai              5.0
Nissin               5.0
Nongshim             5.0
Maruchan             5.0
Name: Stars, dtype: float64

In [36]:
df.groupby('Country')['Stars'].max().sort_values(ascending=False).head(50)
#works for min max and mean as well

Country
Vietnam          5.00
Nepal            5.00
Brazil           5.00
Cambodia         5.00
Canada           5.00
China            5.00
Germany          5.00
Hong Kong        5.00
India            5.00
Indonesia        5.00
Malaysia         5.00
Mexico           5.00
Myanmar          5.00
Japan            5.00
Australia        5.00
Taiwan           5.00
USA              5.00
Philippines      5.00
UK               5.00
Thailand         5.00
Sarawak          5.00
Singapore        5.00
South Korea      5.00
Hungary          4.75
Netherlands      4.50
Fiji             4.25
Poland           4.00
Pakistan         4.00
Bangladesh       4.00
Finland          3.75
Estonia          3.75
Dubai            3.75
Colombia         3.75
Holland          3.75
United States    3.75
Ghana            3.50
Sweden           3.50
Nigeria          1.50
Name: Stars, dtype: float64