# Lab 2 - Exploratory Data Analysis

In [1]:
import pandas as pd

## 1. Import Data

In [13]:
df = pd.read_csv('imdb-videogames.csv')

## 2. Inspect a Portion of the Dataset

In [3]:
df.head()

,Unnamed: 0,name,url,year,certificate,rating,votes,plot summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False

In [4]:
df.tail(10)

,Unnamed: 0,name,url,year,certificate,rating,votes,plot summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
20795,20793,Boku wa kyoumo kimi o korosu,https://www.imdb.com/title/tt6010652/?ref_=adv...,2016.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20796,20794,Find Me Event,https://www.imdb.com/title/tt2619050/?ref_=adv...,2011.0,NaN,NaN,NaN,"Days after being kidnapped and tortured, Denni...",False,False,False,False,False,False,False,False,True
20797,20795,Spooks,https://www.imdb.com/title/tt4965776/?ref_=adv...,2017.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20798,20796,Bite Marks,https://www.imdb.com/title/tt2797224/?ref_=adv...,2012.0,NaN,NaN,NaN,A demonologist gets in over his head while mak...,False,False,False,False,False,False,False,False,False
20799,20797,Requiem,https://www.imdb.com/title/tt4396968/?ref_=adv...,2016.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20800,20798,"Enjoy Your Power, Enjoy Your Choice",https://www.imdb.com/title/tt3845606/?ref_=adv...,2014.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20801,20799,RedSun2020,https://www.imdb.com/title/tt0790739/?ref_=adv...,2004.0,NaN,NaN,NaN,Joseph gets kidnapped and it's the player's jo...,False,False,False,False,False,False,False,False,True
20802,20800,Shutter,https://www.imdb.com/title/tt5119948/?ref_=adv...,2015.0,NaN,NaN,NaN,A tech support man who uses a drone to investi...,False,False,False,False,False,False,False,False,True
20803,20801,The Music Machine,https://www.imdb.com/title/tt5142082/?ref_=adv...,2015.0,NaN,NaN,NaN,A young teenage girl and the ghost of a dead m...,False,False,False,False,False,False,False,False,True
20804,20802,Cryptic,https://www.imdb.com/title/tt10964974/?ref_=ad...,2020.0,NaN,NaN,NaN,Kidnapped by an insane man and dragged into a ...,False,False,False,False,False,False,False,False,True

## 3. Shape and Basic Info about the Dataset

In [5]:
df.shape

(20805, 17)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20805 entries, 0 to 20804
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20805 non-null  int64
 1   name          20805 non-null  object
 2   url           20805 non-null  object
 3   year          20538 non-null  float64
 4   certificate   7905 non-null   object
 5   rating        11602 non-null  object
 6   votes         11602 non-null  object
 7   plot summary  20805 non-null  object
 8   Action        20805 non-null  bool
 9   Adventure     20805 non-null  bool
 10  Comedy        20805 non-null  bool
 11  Crime         20805 non-null  bool
 12  Family        20805 non-null  bool
 13  Fantasy       20805 non-null  bool
 14  Mystery       20805 non-null  bool
 15  Sci-Fi        20805 non-null  bool
 16  Thriller      20805 non-null  bool
dtypes: bool(9), float64(1), int64(1), object(6)
memory usage: 1.4+ MB

In [7]:
df.describe()

         Unnamed: 0          year
count  20805.000000  20538.000000
mean   10400.066667   2005.567485
std     6005.918897     11.846001
min        0.000000   1952.000000
25%     5199.000000   1997.000000
50%    10400.000000   2008.000000
75%    15601.000000   2016.000000
max    20802.000000   2027.000000

## 4. Look for Duplicates

In [8]:
df.duplicated().sum()

2

## 5. Fix Types

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20805 entries, 0 to 20804
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20805 non-null  int64
 1   name          20805 non-null  object
 2   url           20805 non-null  object
 3   year          20538 non-null  float64
 4   certificate   7905 non-null   object
 5   rating        11602 non-null  object
 6   votes         11602 non-null  object
 7   plot summary  20805 non-null  object
 8   Action        20805 non-null  bool
 9   Adventure     20805 non-null  bool
 10  Comedy        20805 non-null  bool
 11  Crime         20805 non-null  bool
 12  Family        20805 non-null  bool
 13  Fantasy       20805 non-null  bool
 14  Mystery       20805 non-null  bool
 15  Sci-Fi        20805 non-null  bool
 16  Thriller      20805 non-null  bool
dtypes: bool(9), float64(1), int64(1), object(6)
memory usage: 1.4+ MB

In [10]:
df.dtypes

Unnamed: 0        int64
name             object
url              object
year            float64
certificate      object
rating           object
votes            object
plot summary     object
Action             bool
Adventure          bool
Comedy             bool
Crime              bool
Family             bool
Fantasy            bool
Mystery            bool
Sci-Fi             bool
Thriller           bool
dtype: object

In [11]:
df.columns

Index(['Unnamed: 0', 'name', 'url', 'year', 'certificate', 'rating', 'votes',
       'plot summary', 'Action', 'Adventure', 'Comedy', 'Crime', 'Family',
       'Fantasy', 'Mystery', 'Sci-Fi', 'Thriller'],
      dtype='object')

Convert votes to numeric data type

## 6. Drop and Rename Columns

In [12]:
df.columns

Index(['Unnamed: 0', 'name', 'url', 'year', 'certificate', 'rating', 'votes',
       'plot summary', 'Action', 'Adventure', 'Comedy', 'Crime', 'Family',
       'Fantasy', 'Mystery', 'Sci-Fi', 'Thriller'],
      dtype='object')

## 7. Fix Nulls

## 8. Summarize Categorical Columns

## 9. Summarize Numeric Columns