# Lab 2 - Exploratory Data Analysis

In [21]:
import pandas as pd

## 1. Import Data

In [22]:
df = pd.read_csv('imdb-videogames.csv')

## 2. Inspect a Portion of the Dataset

In [23]:
df.head(2)

,Unnamed: 0,name,url,year,certificate,rating,votes,plot summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False

In [24]:
df.tail(10)

,Unnamed: 0,name,url,year,certificate,rating,votes,plot summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
20795,20793,Boku wa kyoumo kimi o korosu,https://www.imdb.com/title/tt6010652/?ref_=adv...,2016.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20796,20794,Find Me Event,https://www.imdb.com/title/tt2619050/?ref_=adv...,2011.0,NaN,NaN,NaN,"Days after being kidnapped and tortured, Denni...",False,False,False,False,False,False,False,False,True
20797,20795,Spooks,https://www.imdb.com/title/tt4965776/?ref_=adv...,2017.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20798,20796,Bite Marks,https://www.imdb.com/title/tt2797224/?ref_=adv...,2012.0,NaN,NaN,NaN,A demonologist gets in over his head while mak...,False,False,False,False,False,False,False,False,False
20799,20797,Requiem,https://www.imdb.com/title/tt4396968/?ref_=adv...,2016.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20800,20798,"Enjoy Your Power, Enjoy Your Choice",https://www.imdb.com/title/tt3845606/?ref_=adv...,2014.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20801,20799,RedSun2020,https://www.imdb.com/title/tt0790739/?ref_=adv...,2004.0,NaN,NaN,NaN,Joseph gets kidnapped and it's the player's jo...,False,False,False,False,False,False,False,False,True
20802,20800,Shutter,https://www.imdb.com/title/tt5119948/?ref_=adv...,2015.0,NaN,NaN,NaN,A tech support man who uses a drone to investi...,False,False,False,False,False,False,False,False,True
20803,20801,The Music Machine,https://www.imdb.com/title/tt5142082/?ref_=adv...,2015.0,NaN,NaN,NaN,A young teenage girl and the ghost of a dead m...,False,False,False,False,False,False,False,False,True
20804,20802,Cryptic,https://www.imdb.com/title/tt10964974/?ref_=ad...,2020.0,NaN,NaN,NaN,Kidnapped by an insane man and dragged into a ...,False,False,False,False,False,False,False,False,True

## 3. Shape and Basic Info about the Dataset

In [25]:
df.shape

(20805, 17)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20805 entries, 0 to 20804
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20805 non-null  int64
 1   name          20805 non-null  object
 2   url           20805 non-null  object
 3   year          20538 non-null  float64
 4   certificate   7905 non-null   object
 5   rating        11602 non-null  object
 6   votes         11602 non-null  object
 7   plot summary  20805 non-null  object
 8   Action        20805 non-null  bool
 9   Adventure     20805 non-null  bool
 10  Comedy        20805 non-null  bool
 11  Crime         20805 non-null  bool
 12  Family        20805 non-null  bool
 13  Fantasy       20805 non-null  bool
 14  Mystery       20805 non-null  bool
 15  Sci-Fi        20805 non-null  bool
 16  Thriller      20805 non-null  bool
dtypes: bool(9), float64(1), int64(1), object(6)
memory usage: 1.4+ MB

In [27]:
df.describe()

         Unnamed: 0          year
count  20805.000000  20538.000000
mean   10400.066667   2005.567485
std     6005.918897     11.846001
min        0.000000   1952.000000
25%     5199.000000   1997.000000
50%    10400.000000   2008.000000
75%    15601.000000   2016.000000
max    20802.000000   2027.000000

In [28]:
df.name.unique()

array(['Spider-Man', 'Red Dead Redemption II', 'Grand Theft Auto V', ...,
       'Shutter', 'The Music Machine', 'Cryptic'], dtype=object)

## 4. Look for Duplicates

In [29]:
df.duplicated().sum()

2

following code drops all the duplicates because we do not want them messing the data.

In [30]:
df.drop_duplicates(inplace=True)
df

,Unnamed: 0,name,url,year,certificate,rating,votes,plot summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20800,20798,"Enjoy Your Power, Enjoy Your Choice",https://www.imdb.com/title/tt3845606/?ref_=adv...,2014.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20801,20799,RedSun2020,https://www.imdb.com/title/tt0790739/?ref_=adv...,2004.0,NaN,NaN,NaN,Joseph gets kidnapped and it's the player's jo...,False,False,False,False,False,False,False,False,True
20802,20800,Shutter,https://www.imdb.com/title/tt5119948/?ref_=adv...,2015.0,NaN,NaN,NaN,A tech support man who uses a drone to investi...,False,False,False,False,False,False,False,False,True
20803,20801,The Music Machine,https://www.imdb.com/title/tt5142082/?ref_=adv...,2015.0,NaN,NaN,NaN,A young teenage girl and the ghost of a dead m...,False,False,False,False,False,False,False,False,True
20804,20802,Cryptic,https://www.imdb.com/title/tt10964974/?ref_=ad...,2020.0,NaN,NaN,NaN,Kidnapped by an insane man and dragged into a ...,False,False,False,False,False,False,False,False,True

## 5. Fix Types

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20803 entries, 0 to 20804
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20803 non-null  int64
 1   name          20803 non-null  object
 2   url           20803 non-null  object
 3   year          20536 non-null  float64
 4   certificate   7903 non-null   object
 5   rating        11600 non-null  object
 6   votes         11600 non-null  object
 7   plot summary  20803 non-null  object
 8   Action        20803 non-null  bool
 9   Adventure     20803 non-null  bool
 10  Comedy        20803 non-null  bool
 11  Crime         20803 non-null  bool
 12  Family        20803 non-null  bool
 13  Fantasy       20803 non-null  bool
 14  Mystery       20803 non-null  bool
 15  Sci-Fi        20803 non-null  bool
 16  Thriller      20803 non-null  bool
dtypes: bool(9), float64(1), int64(1), object(6)
memory usage: 1.6+ MB

following code replaces the *9.0 with a 9.0 as it was inserted to mess up the data, which we do not want

In [32]:
df.rating.unique()

df.rating.replace("*9.0", 9.0, inplace = True)

df[df.rating=="*9.0"]

Empty DataFrame
Columns: [Unnamed: 0, name, url, year, certificate, rating, votes, plot summary, Action, Adventure, Comedy, Crime, Family, Fantasy, Mystery, Sci-Fi, Thriller]
Index: []

In [33]:
df.dtypes

Unnamed: 0        int64
name             object
url              object
year            float64
certificate      object
rating           object
votes            object
plot summary     object
Action             bool
Adventure          bool
Comedy             bool
Crime              bool
Family             bool
Fantasy            bool
Mystery            bool
Sci-Fi             bool
Thriller           bool
dtype: object

following code switches data in the rating column to floating point numbers

In [34]:
df.rating = pd.to_numeric(df.rating)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20803 entries, 0 to 20804
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20803 non-null  int64
 1   name          20803 non-null  object
 2   url           20803 non-null  object
 3   year          20536 non-null  float64
 4   certificate   7903 non-null   object
 5   rating        11600 non-null  float64
 6   votes         11600 non-null  object
 7   plot summary  20803 non-null  object
 8   Action        20803 non-null  bool
 9   Adventure     20803 non-null  bool
 10  Comedy        20803 non-null  bool
 11  Crime         20803 non-null  bool
 12  Family        20803 non-null  bool
 13  Fantasy       20803 non-null  bool
 14  Mystery       20803 non-null  bool
 15  Sci-Fi        20803 non-null  bool
 16  Thriller      20803 non-null  bool
dtypes: bool(9), float64(2), int64(1), object(5)
memory usage: 1.6+ MB

In [35]:
df.columns

Index(['Unnamed: 0', 'name', 'url', 'year', 'certificate', 'rating', 'votes',
       'plot summary', 'Action', 'Adventure', 'Comedy', 'Crime', 'Family',
       'Fantasy', 'Mystery', 'Sci-Fi', 'Thriller'],
      dtype='object')

Convert votes to numeric data type

In [36]:
#after much consideration, I will not be completing this section of the assignment as I sell that it is good the way it is, 
#the NaN values must likely referes to the fact that these games had no votes because they have not been released yet
#and setting to any other value other than NaN would skew the data if any math was performed.

## 6. Drop and Rename Columns

In [37]:
df.columns

Index(['Unnamed: 0', 'name', 'url', 'year', 'certificate', 'rating', 'votes',
       'plot summary', 'Action', 'Adventure', 'Comedy', 'Crime', 'Family',
       'Fantasy', 'Mystery', 'Sci-Fi', 'Thriller'],
      dtype='object')

the following code removed the column of plot summary because I do not want ot know what the game is about because I like suprises.

In [38]:
df.drop(['plot summary'], axis = 1)

,Unnamed: 0,name,url,year,certificate,rating,votes,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759",True,True,False,False,False,True,False,False,False
1,1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",True,True,False,True,False,False,False,False,False
2,2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",True,False,False,True,False,False,False,False,False
3,3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118",True,True,False,False,False,False,False,False,False
4,4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",True,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20800,20798,"Enjoy Your Power, Enjoy Your Choice",https://www.imdb.com/title/tt3845606/?ref_=adv...,2014.0,NaN,NaN,NaN,False,False,False,False,False,False,False,False,True
20801,20799,RedSun2020,https://www.imdb.com/title/tt0790739/?ref_=adv...,2004.0,NaN,NaN,NaN,False,False,False,False,False,False,False,False,True
20802,20800,Shutter,https://www.imdb.com/title/tt5119948/?ref_=adv...,2015.0,NaN,NaN,NaN,False,False,False,False,False,False,False,False,True
20803,20801,The Music Machine,https://www.imdb.com/title/tt5142082/?ref_=adv...,2015.0,NaN,NaN,NaN,False,False,False,False,False,False,False,False,True
20804,20802,Cryptic,https://www.imdb.com/title/tt10964974/?ref_=ad...,2020.0,NaN,NaN,NaN,False,False,False,False,False,False,False,False,True

in the following code below, I changed the certificate column to ESRB rating as that makes more sense of a name because I have never called a game rating 
a certificate

In [53]:
df.columns = ['unnamed','name','url', 'year', 'ESRB Rating','rating','votes','plot summary','Action','Adventure','Comedy','Crime','Family','Fantasy','Mystery','Sci-Fi','Thriller']
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20803 entries, 0 to 20804
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   unnamed       20803 non-null  int64
 1   name          20803 non-null  object
 2   url           20803 non-null  object
 3   year          20536 non-null  float64
 4   ESRB Rating   7903 non-null   object
 5   rating        11600 non-null  float64
 6   votes         11600 non-null  object
 7   plot summary  20803 non-null  object
 8   Action        20803 non-null  bool
 9   Adventure     20803 non-null  bool
 10  Comedy        20803 non-null  bool
 11  Crime         20803 non-null  bool
 12  Family        20803 non-null  bool
 13  Fantasy       20803 non-null  bool
 14  Mystery       20803 non-null  bool
 15  Sci-Fi        20803 non-null  bool
 16  Thriller      20803 non-null  bool
dtypes: bool(9), float64(2), int64(1), object(5)
memory usage: 1.6+ MB

## 7. Fix Nulls

In [54]:
df.votes.replace('NaN')

<bound method Series.replace of 0        20,759
1        35,703
2        59,986
3        26,118
4        28,722
          ...
20800       NaN
20801       NaN
20802       NaN
20803       NaN
20804       NaN
Name: votes, Length: 20803, dtype: object>

## 8. Summarize Categorical Columns

In [ ]:
df.certificate.describe()

count     7903
unique      21
top          T
freq      2474
Name: certificate, dtype: object

## 9. Summarize Numeric Columns

In [ ]:
df.rating.describe()

count    11600.000000
mean         7.047526
std          1.235204
min          1.000000
25%          6.400000
50%          7.200000
75%          7.900000
max          9.700000
Name: rating, dtype: float64

In [ ]:
df.year.value_counts().describe()

count     61.000000
mean     336.655738
std      270.460156
min        1.000000
25%       73.000000
50%      365.000000
75%      502.000000
max      956.000000
Name: year, dtype: float64

In [ ]:
df['votes'].describe()

count     11600
unique     1905
top           7
freq        318
Name: votes, dtype: object